#nav ul a:hover,
.heading:before,
.error-page h1,
#nav ul .active a,
.blog-sec .blog p a,
#header .nav-opener,
.error-page a:hover,
#nav ul li:hover > a,
.post-sec .btn:hover,
#nav ul .drop:hover > a,
.main-slider .btn:hover,
.gallery-sec .btn:hover,
#footer .footer-area p a,
.blog-sec .btn:hover,
.main-holder .txt-holder a,
.info-sec .col:hover .icon,
.sec-holder .col .btn:hover,
.main-slider .slide h1 .clr,
#footer .accordion2 a:hover,
.blog-sec .blog .by a:hover,
#footer .contact-list a:hover,
.clinic-video .heading:before,
.gallery-blog .img-holder .fa,
.blog-detail .blog .by a:hover,
.form-sec .call-form .btn:hover,
.post-sec .post-list h4 a:hover,
.banner .breadcrumbs ul .active,
.banner .breadcrumbs ul a:hover,
.sec-holder .col .heading .clr,
.service-sec.service3 .heading .clr,
.post-sec .post .img-holder .fa,
.choose-sec .service-list .icon,
.service-sec .service-list .icon,
.blog-sec .blog .heading2 a:hover,
.post-sec .post .heading2 a:hover,
.gallery-sec .filter-list a:hover,
.advantage-sec .service-list .icon,
.gallery-sec .filter-list .active a,
#footer .panel-group .panel-title a,
#footer .accordion2 .active .opener,
.error-page .error-form button:hover,
.team-ad-sec .tab-content .list .icon,
.visit-doctor-sec.style4 .btn:hover,
.contact-sec .contact-form .btn:hover,
.visit-doctor-sec .visit-form .btn:hover,
.team-sec .team-slider .heading2 a:hover,
#header .header-area .align-left a:hover,
#header .header-area .align-right a:hover,
.comments-block .commment-area h3 a:hover,
#footer .panel-group .panel-title a:hover,
.advantage-sec .panel-group .panel-title a,
.comments-block .commment-area .reply:hover,
.team-sec .team-slider3 .slick-prev:hover:before,
.team-sec .team-slider3 .slick-next:hover:before,
.advantage-sec .panel-group .panel-title a:hover,
.advantage-sec .panel-group .panel-title a .icon-plus,
.advantage-sec .panel-group .panel-title a:hover .icon-plus {
  color: #24b9d7;
}

.time-sec,
#back-top,
.txt-sec,
.btn:hover,
.banner2 .btn,
.banner2 h1 .clr,
.blog-sec .btn,
.video-sec .icon,
.main-slider .btn,
.post-sec .btn,
.gallery-sec .btn,
.blog-sec .blog .time,
.blog-sec .blog .icon,
.sec-holder .col .btn,
.header2 #nav ul a:hover,
.gallery-sec .btn:before,
.visit-doctor-sec .block,
.blog-detail .blog .time,
.blog-detail .blog .icon,
.main-holder .txt-holder .clr,
.header2 #nav ul .active > a,
.header2 #nav ul li:hover > a,
.service-sec .service li:hover,
.main-slider .query-form h3,
.visit-doctor-sec.style4 .btn,
.team-ad-sec .tabset .active a,
.department-sec .tabset a:hover,
.contact-sec .contact-form .btn,
.information-sec .tabset .active a,
.information-sec .tabset a:hover,
.department-sec .tabset .active a,
.visit-doctor-sec .visit-form .btn,
.gallery-sec .item .over .icon-plus,
.team-ad-sec .tabset a:hover,
.price-sec .price-holder:hover .price,
.price-sec .price-holder.active .price,
.price-sec .price-holder:hover .btn,
.price-sec .price-holder.active .btn,
.advantage-sec .service-list li:hover,
.header3 #nav ul a:before,
.choose-sec .service-list li:hover .icon,
.clinic-sec .clinic-work .img-holder .num,
.service-sec .service-list li:hover .icon,
.team-sec .team-slider2 .slick-prev:hover,
.team-sec .team-slider2 .slick-next:hover,
.service-sec .service-list.style3 .btn:hover,
.main-slider .slick-dots .slick-active button,
.service-sec .service-list.style3 .active .btn,
.service-sec .service-list.style3 .active .icon,
.service-sec .service-list.style3 li:hover .btn,
.department-sec.style2 .tab-content .btn:hover,
.abt-sec.style3 .panel-group .panel-title a .icon,
.team-sec .team-slider .slick-dots .slick-active button,
.abt-sec.style3 .panel-group .panel-title a:hover .icon,
.abt-sec.style3 .panel-group .panel-title a.collapsed:hover .icon {
  background: #24b9d7;
}

.post-sec .btn,
#nav .drop-down,
.gallery-sec .btn,
.post-sec .btn,
.blog-sec .btn,
.team-sec .team:hover,
.team-ad-sec .tabset a:hover,
.visit-doctor-sec.style4 .btn,
.team-ad-sec .tabset .active a,
.choose-sec .service-list .icon,
.service-sec .service-list .icon,
.visit-doctor-sec .visit-form .btn,
.contact-sec .contact-form .btn,
.advantage-sec .panel-group .panel-title a,
.advantage-sec .panel-group .panel-title a:hover,
.service-sec .service-list.style3 .active .service-holder,
.service-sec .service-list.style3 li:hover .service-holder {
  border-color: #24b9d7;
}

.price-sec .price-holder:hover .price:before,
.price-sec .price-holder.active .price:before {
  border-top-color: #24b9d7;
}

.overlay:before,
.team-sec .team:hover .over,
.info-sec .col:hover,
.service-sec.service4 .img-holder.overlay:before {
  background: #4285f4;
}
